[Desktop Entry]
Type=Application
Name=BusyMark
Comment=Markdown and Writerside-compatible documentation editor
Name[de]=BusyMark
Comment[de]=Markdown- und Writerside-Dokumentationseditor
Name[it]=BusyMark
Comment[it]=Editor della documentazione Markdown e Writerside
Name[no]=BusyMark
Comment[no]=Markdown og Writerside dokumentasjonsredigerer
Name[fr]=BusyMark
Comment[fr]=Éditeur de documentation Markdown et Writerside
Name[ru]=BusyMark
Comment[ru]=Редактор документации Markdown и Writerside
Name[uk]=BusyMark
Comment[uk]=Редактор документації Markdown і Writerside
Name[pl]=BusyMark
Comment[pl]=Edytor dokumentacji Markdown i Writerside
Name[es]=BusyMark
Comment[es]=Editor de documentación Markdown y Writerside
Name[pt]=BusyMark
Comment[pt]=Editor de documentação Markdown e Writerside
Name[ar]=BusyMark
Comment[ar]=محرر وثائق Markdown و Writerside
Name[fa]=BusyMark
Comment[fa]=ویرایشگر اسناد Markdown و Writerside
Name[hi]=BusyMark
Comment[hi]=Markdown और Writerside दस्तावेज़ीकरण संपादक
Exec=busymark %F
Icon=io.busystack.busymark
Terminal=false
Categories=Office;Development;TextEditor;Utility;
MimeType=text/markdown;text/x-markdown;
StartupNotify=true
StartupWMClass=busymark_io.busystack.busymark
